@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 255, 255, 255;
    --secondary: 0, 0, 0;
    --tertiary: 100, 100, 100;
  }
}

button {
  @apply px-4 py-2 rounded shadow-sm;
}

button.primary {
  @apply bg-secondary text-primary;
}
